main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 22.5rem;
  height: 36.625rem;
  background-color: var(--tertiary-color);
}

.logo {
  width: 7.125rem;
  height: 7.375rem;
  margin-top: 5.9375rem;
  margin-bottom: 0.625rem;
}

.logo-text {
  margin-top: 1.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}

.hobby-image {
  width: 6.715rem;
  height: 2.66rem;
  align-self: flex-start;
  margin-left: -0.625rem;
}

.dobby-image {
  width: 5.9688rem;
  height: 2.85rem;
  align-self: flex-end;
  margin-right: -0.625rem;
  margin-top: -0.3125rem;
}

button {
  background-color: var(--secondary-color);
  border: none;
  width: 8.4375rem;
  height: 2.5rem;
  margin-top: 6.25rem;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
}
