.challenge-review {
  align-items: center;
  justify-content: space-between;
  width: 22.5rem;
  padding-bottom: 1.25rem;
  text-align: center;
}

.challenge-review__hobby-total-day {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.3125rem;
  margin-right: 2.1875rem;
  color: var(--secondary-color);
  font-size: 1.25rem;
  font-weight: 700;
}

.challenge-review__hobby-name {
  margin-bottom: 0.625rem;
  color: var(--text-green);
  font-size: 2rem;
  font-weight: 700;
}

.challenge-review__hobby-log {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.3125rem;
  margin-right: 2.1875rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.challenge-review__save {
  display: block;
  justify-content: center;
  margin: 2.5rem auto 0 auto;
  padding: 0.5rem 0.625rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  color: var(--text-black);
  text-decoration: none;
  background-color: var(--secondary-color);
}

.challenge-review__hobby-day-wrapper {
  display: flex;
  flex-direction: column;

  position: relative;

  padding-block: 1rem;

  p {
    font-size: 14px;
    margin: 0;
    padding: 0;

    text-align: center;
  }

  p:first-of-type {
    font-size: 16px;
    font-weight: 700;

    text-align: start;
  }

  ::after {
    content: '';
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid var(--content-gray);
  }
}
