.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block-start: 50px;

  h2 {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 600;
  }
}

.login-page__register {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-block-start: 4px;

  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
}
