.leader-board-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader-board-detail__conversation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  img {
    width: 2.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    padding: 5px;
  }
}

.leader-board-detail__content--left,
.leader-board-detail__content--right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.leader-board-detail__content--left {
  justify-content: flex-start;
}

.leader-board-detail__content--right {
  justify-content: flex-end;
}

.leader-board-detail__textbox--left,
.leader-board-detail__textbox--right {
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--quatenary-color);
  padding: 10px;
  border-radius: 10px;
  position: relative;

  p {
    margin: 0;
  }
}

.leader-board-detail__textbox--left::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0px;
  border-color: transparent var(--quatenary-color) transparent transparent;
}

.leader-board-detail__textbox--right::after {
  content: '';
  position: absolute;
  top: 20px;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0px 15px 15px;
  border-color: transparent transparent transparent var(--quatenary-color);
}

.profileImgAlt {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  border-radius: 100px;
}

.leader-board-detail__date {
  margin: 0;
  display: flex;
  align-self: flex-end;
  font-size: 12px;
  font-weight: 600;
}
