/* 디자인 토큰 */
.card {
  --font-size-s: 17px;
  --font-size-l: 18px;
}

/* 기본 스타일링 */
.card {
  min-width: min-content;
  min-height: 3.75rem;
  padding: 13px 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 1rem;

  background-color: var(--secondary-color);
}

.card img {
  width: 1.8rem;
  min-width: 1.8rem;
}

.card p,
.card h2 {
  margin: 0;
}

.card h2 {
  font-size: var(--font-size-s);
}

.card p {
  font-size: var(--font-size-l);
}

/* 통계 카드 */
.stat-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 1rem;
}

.stat-card {
  flex: 1 1 calc(50% - 1rem); /* 기본적으로 2개씩 배치되도록 설정 */
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.stat-card h3 {
  font-weight: 500;
  font-size: 18px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* 업적 카드 */
.achievement-card-list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1rem;
}

.achievement-card {
  h3 {
    font-size: var(--font-size-l);
  }

  gap: 1rem;
}

.level-badge {
  min-width: 3.75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.achievements {
  height: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  .title-and-progress {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    font-size: var(--font-size-s);

    line-height: 1.4;
    white-space: normal;
  }
}
