/* 프로필 헤더 */
.profile-header {
  background-color: var(--secondary-color);
  inline-size: 100%;
  block-size: 9rem;
  position: relative;

  flex-shrink: 0;
}

/* 프로필 편집 버튼 */
.edit-profile__btn {
  --profile-edit-btn-size: 1.8rem;

  background-color: var(--white-color);
  inline-size: var(--profile-edit-btn-size);
  block-size: var(--profile-edit-btn-size);

  padding: 7px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 15px;
  right: 8px;

  border: 2px solid var(--black-color);
  border-radius: 10px;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.7);
  }
}

.profile__image-frame {
  background-color: #d9d9d9;
  inline-size: 6.5rem;
  block-size: 6.5rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  overflow: hidden;

  top: 4rem;
  left: 50%;
  transform: translate(-50%, 0);

  img {
    inline-size: 100%;
    block-size: 100%;

    margin: 0;
    padding: 0;

    object-fit: cover;
  }

  &:hover {
    filter: brightness(0.97);
  }
}

/* 프로필 정보 */
.profile-details {
  min-height: 7.45rem;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;

    /* 닉네임 */
    :nth-child(1) {
      font-size: 20px;
      margin-bottom: 0.4rem;
    }

    /* 대표 칭호 */
    :nth-child(2) {
      color: var(--text-green);
    }
  }
}

/* 대표 취미 아이콘 */
.profile-details-main-hobby__icon-frame {
  background-color: #d9d9d9;
  inline-size: 2rem;
  block-size: 2rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px;

  position: absolute;
  top: 3.75rem;
  right: 2.625rem;

  &:hover {
    filter: brightness(0.97);
  }

  img {
    inline-size: 100%;
    block-size: 100%;

    margin: 0;
    padding: 0;

    object-fit: cover;
  }
}
