/* 프로필 헤더 */
.profile-header {
  background-color: var(--secondary-color);
  inline-size: 100%;
  block-size: 9rem;
  position: relative;

  flex-shrink: 0;
}

.edit-profile-btn {
  --profile-edit-btn-size: 1.8rem;

  background-color: var(--white-color);
  inline-size: var(--profile-edit-btn-size);
  block-size: var(--profile-edit-btn-size);

  padding: 7px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 15px;
  right: 8px;

  border: 2px solid var(--black-color);
  border-radius: 0.6rem;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.7);
  }
}

.profile-image-frame {
  background-color: #d9d9d9;
  inline-size: 6.5rem;
  block-size: 6.5rem;
  border-radius: 50%;

  position: absolute;

  /* Center the image frame */
  top: 4rem;
  left: 50%;

  transform: translate(-50%, 0);

  img {
    margin: 0;
    padding: 0;

    inline-size: 100%;
    block-size: 100%;
  }

  &:hover {
    filter: brightness(0.97);
  }
}

/* 프로필 정보 */
.profile-details {
  min-height: 7.45rem;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    font-size: 18px;
    font-weight: 600;

    :nth-child(1) {
      font-size: 20px;
      margin-bottom: 0.4rem;
    }

    :nth-child(2) {
      color: var(--text-green);
    }
  }
}

.profile-main-hobby-icon-frame {
  background-color: #d9d9d9;
  inline-size: 2rem;
  block-size: 2rem;
  border-radius: 50%;

  position: absolute;

  top: 3.75rem;
  right: 2.625rem;

  &:hover {
    filter: brightness(0.97);
  }
}
