.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: auto;

  h1 {
    margin-block-start: 0;
  }

  h2 {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 600;
  }
}
