.unit-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: fit-content;

  position: relative;
  overflow: visible;
}

.unit-section__button {
  width: 70px;
  height: 59px;
  border-radius: 100%;
  border: none;
  background-color: var(--secondary-color);
  position: relative;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  box-shadow: 0 6px 0 var(--primary-color);

  &:hover {
    transform: translateY(2px);
    box-shadow: 0 4px 0 var(--primary-color);
  }

  &:active {
    transform: translateY(6px);
    box-shadow: 0 0px 0;
  }
}

.unit-card {
  position: absolute;
  top: 5rem;
  z-index: 2;
}
