/* 디자인 토큰 */
.edit-profile-page {
  --white-color: #ffffff;
  --black-color: #000000;
  --board-padding: 13px;
  --board-border-radius: 1rem;
}

/* 프로필 페이지 */
.edit-profile-page {
  width: 100%;
  max-width: 27.125rem;
  height: 100%;

  position: fixed;
  top: 50%; /* 화면 세로 중앙 정렬 */
  left: 50%; /* 화면 가로 중앙 정렬 */
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: auto;
  scrollbar-width: none; /* Firefox */

  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  z-index: 1000;
}

.edit-profile-page::-webkit-scrollbar {
  display: none;
}

/* 프로필 상단 버튼 및 제목 */
.edit-profile__top-header {
  width: 100%;

  position: sticky;
  top: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--tertiary-color);

  z-index: 1010;
}

.edit-profile__title {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);

  background-color: var(--secondary-color);
  width: 100%;
  padding: 10px 0;

  text-align: center;
  font-size: 21px;
  font-weight: 400;

  z-index: 1010;
}

.top-btns {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;

  padding: 0 15px;

  z-index: 1010;
}

.save-edit-profile__btn {
  border: 0;
  background-color: transparent;

  margin: 0;
  padding: 0;

  z-index: 1001;
}

/* 프로필 편집 바디 */
.edit-profile__body {
  width: 100%;
  padding: 3rem 1.8rem 1.8rem 1.8rem;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;

  background-color: var(--tertiary-color);
}

/* 아티클 컨테이너 */
.article-container {
  background-color: var(--white-color);
  inline-size: 100%;
  min-height: 140px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--board-padding);
  border-radius: var(--board-border-radius);
}

/* 아티클 제목 스타일 */
.article-container h2 {
  font-size: 19px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
