.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    width: 8.4375rem;
    height: 2.875rem;

    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;

    margin-block-start: 1.125rem;

    padding-inline: 0.9375rem;

    &:hover,
    &:focus {
      background-color: var(--lighten-secondary-color);
    }
  }
  button:disabled {
    background-color: var(--primary-color);
  }

  .form-input__wrapper {
    justify-content: center;
  }

  .form-input__alert {
    width: 14.125rem;
    text-align: center;
  }
}
