form {
  width: 302px;
  height: 99px;

  textarea {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;

    &::placeholder {
      color: var(--text-green);
      font-weight: 700;
    }
  }
}
