.startform {
  width: 18.875rem;
  height: 6.1875rem;

  textarea {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 0.625rem;
    box-sizing: border-box;

    &::placeholder {
      color: var(--text-green);
      font-weight: 700;
    }
  }
}
