.Challengstart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  /* align-items: center; */
  width: 22.5rem;
  height: 36.625rem;
  background-color: var(--tertiary-color);
}

.ChallengeName {
  margin-bottom: 5%;
  color: var(--black);
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

.tip {
  margin-top: -5%;
  color: var(--text-gray);
  font-size: 0.875rem;
  font-weight: 600;
}

.decide {
  display: block;
  margin: 30% auto 0 auto;
  justify-content: center;
  width: 7.625rem;
  height: 2.875rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  color: var(--text-black);
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

/* ----------------------- textarea Form ------------------------ */
.startform {
  width: 100%;
  min-width: 18.875rem;
  height: 6.1875rem;

  textarea {
    width: 90%;
    height: 100%;
    margin-left: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 0.625rem;
    box-sizing: border-box;

    &::placeholder {
      color: var(--text-green);
      font-weight: 700;
    }
  }
}
