.leader-board-tab {
  width: 100%;
  max-width: 27.0625rem;
  height: auto;
  display: flex;
  padding-inline: 0;
  margin-top: 0;
  margin-bottom: 10px;
  position: fixed;
  list-style-type: none;
  background-color: var(--quatenary-color);

  li {
    width: 50%;
    height: 100%;
  }

  a {
    width: 100%;
    height: 100%;
    padding-block: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #c2c1c2;
    font-weight: 600;
  }
}
