* {
  .my-page {
    /* 디자인 토큰 */
    --white-color: #ffffff;
    --black-color: #000000;

    --board-padding: 0.9rem;
    --board-border-radius: 1rem;
  }

  /* 기본 스타일링 */

  background-color: transparent;

  inline-size: 100%;
  block-size: 100%;
  max-width: 27rem;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  /* 상단바 영역 */
  header {
    background-color: var(--quatenary-color);

    inline-size: 100%;
    min-width: 25rem;
    block-size: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 바디 영역 */
  main {
    background-color: transparent;
    inline-size: 100%;
    block-size: 100%;

    display: flex;
    flex-direction: column;

    overflow: auto;

    scrollbar-width: none; /* Firefox */
  }

  /* 하단바 영역 */
  footer {
    background-color: var(--quatenary-color);
    inline-size: 100%;
    min-width: 22.5rem;
    block-size: 4.625rem;

    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: flex-end;
  }

  main::-webkit-scrollbar {
    display: none;
  }
}

/* 프로필 바디 */
.profile-body {
  background-color: transparent;
  inline-size: 100%;
  padding: 2.5rem 1.8rem;

  flex-grow: 1;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;
}

.article-container {
  background-color: var(--white-color);
  inline-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;

  padding: var(--board-padding);

  border-radius: var(--board-border-radius);

  h2 {
    font-size: 1.25rem;
    margin: 0;
  }
}

.stat-cards-list {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 1rem;
  flex-wrap: wrap;
}
