/* 디자인 토큰 */
.my-page {
  --white-color: #ffffff;
  --black-color: #000000;
  --board-padding: 14px;
  --board-border-radius: 1rem;
}

/* 기본 스타일링 */
.my-page {
  width: 100%;
  height: 100%;
  max-width: 27rem;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  background-color: transparent;
}
/* 레이아웃 스타일링 */
.my-page main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow: auto;

  background-color: transparent;

  scrollbar-width: none; /* Firefox */
}

.my-page main::-webkit-scrollbar {
  display: none;
}

/* 프로필 바디 스타일 */
.profile-body {
  width: 100%;
  padding: 3rem 1.8rem 1.8rem 1.8rem;

  flex-grow: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;

  background-color: transparent;
}

/* 아티클(내용별 흰색 블록) 스타일 */
.article-container {
  width: 100%;
  min-height: 7.45rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  padding: var(--board-padding);

  border-radius: var(--board-border-radius);

  background-color: var(--white-color);
}

.article-container h2 {
  font-size: 20px;
  margin: 0;
}
