@layer base, components;
@import './common/normalize.css' layer(base);
@import './common/base.css' layer(base);

:root {
  /* colors */
  --primary-color: #048998;
  --secondary-color: #3bb4c1;
  --tertiary-color: #e9e4e6;
  --quatenary-color: #f6f5f5;

  --content-gray: #d9d9d9;

  /* hover colors, 10% lighten */
  --lighten-secondary-color: hsl(186, 53%, 59%);

  /* text-colors */
  --text-white: var(--quatenary-color);
  --text-black: #1a1717;
  --text-green: #065b63;
  --text-gray: #2f2f2f;

  /* primary-color을 배경으로 쓸 때의 검정색 */
  --primary-text-black: #0f0e0e;
}

body {
  background-color: var(--tertiary-color);
  color: var(--text-black);

  input,
  button {
    color: var(--text-black);
  }

  min-width: 360px;
  min-height: 780px;
  height: 100vh;
  max-width: 27rem;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
  margin: 0 auto;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 27rem;
}

.drag-prevent {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
