.leader-board-completed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader-board-completed__list {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 10px;
  padding-top: 3.75rem;
}
