.edit-nickname__form {
  min-width: 22.5rem;
  width: 100%;

  font-size: 18px;
}

.edit-nickname__form .form-input__wrapper {
  padding-top: 30px;

  justify-content: center;
  gap: 1.875rem;
}

.edit-nickname__form label {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  white-space: nowrap;

  border-width: 0;
}

.edit-nickname__form .form-input__button {
  width: 6.25rem;
  height: 2.1875rem;
  padding-inline: 0.9375rem;

  border: none;
  border-radius: 10px;

  background-color: var(--secondary-color);
}

.edit-nickname__form .form-input__button:hover,
.edit-nickname__form .form-input__button:focus {
  background-color: var(--lighten-secondary-color);
}

.edit-nickname__form .form-input {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  font-size: 15px;
}
