.edit-info-header {
  background-color: var(--quatenary-color);

  position: sticky;
  top: 0;

  display: flex;
  min-width: 22.5rem;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 1.25rem;

  button {
    border: 0;
    background-color: transparent;

    &:disabled {
      color: #7d7d7d;
    }
  }
}
