.profile-item-list__outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-item-list__inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 내부 아이템은 왼쪽 정렬 */
  gap: 20px;
  padding-block: 15px;
  width: fit-content;

  overflow-y: auto;
  scrollbar-width: none;
}

.profile-item__frame {
  border: 2px solid var(--black-color);
  border-radius: 10px;

  width: 60px;

  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
