.profile-item-list__container {
  width: 100%;
  padding-block: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;

  overflow-y: auto;
  scrollbar-width: none;
}

.profile-item-list__container::-webkit-scrollbar {
  display: none;
}

/* 각 아이템 프레임 */
.profile-item__frame {
  width: 60px;
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--black-color);
  border-radius: 10px;
}

.profile-item__frame img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
