.Challengsave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 22.5rem;
  height: 36.625rem;
}

.challeng {
  color: var(--text-green);
  font-size: 30px;
  font-weight: 700;
}

.challengother {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}

.listsave {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}
