.text-area {
  inline-size: 100%;
  max-height: 68vh;
  resize: none;
  border: 0;
  border-radius: 0.625rem;
  padding: 20px;
  font-size: 16px;
  overflow-y: auto;

  background-color: var(--quatenary-color);

  &:focus {
    outline: none;
    border: 1px solid var(--primary-color);
  }

  scrollbar-width: none; /* 파이어폭스 스크롤바 숨기기 */
}

.text-area::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 스크롤바 숨기기 */
}

.word-counter {
  inline-size: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
