.store-item__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 21.5rem;
  height: 24.625rem;
  margin-top: 100px;
  gap: 1.125rem;
}

.store-item__itemdb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 21.5rem;
  height: 5.3125rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  background: #ffffff;
}

.store-item__left {
  display: flex-col;
  justify-content: center;
  align-items: center;
  width: 2.7837rem;
  height: 3.875rem;
  height: 100%;
}

.store-item__image {
  width: 2.7212rem;
  height: 2.1875rem;
  margin-bottom: 0.1875rem;
}

.store-item__gem-price {
  display: flex;
  width: 2.625rem;
  height: 1.375rem;
}

.store-item__gem {
  width: 1.25rem;
  height: 1.25rem;
}

.store-item__price {
  width: 1.5rem;
  height: 1.375rem;
  color: var(--text-block);
  font-size: 0.875rem;
  font-weight: 400;
}

.store-item__center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  overflow-wrap: break-word;
  width: 11.3625rem;
  height: 4.0625rem;
  max-width: 50%;
}
.store-item__name {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.125rem;
}

.store-item__explanation {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0;
}

.store-item__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0.625rem;
}

.store-item__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  width: 4.4375rem;
  height: 1.8125rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 1.25rem;
  color: var(--text-block);
  font-size: 0.9375rem;
  font-weight: 400;
  text-align: center;
  background-color: var(--secondary-color);
}
